$clase: bloque__encabezado;

@each $titulo in $clase {
    [class="#{$titulo}"] {
        font-size: 3.5rem;
        font: $fuente; 
    }
}
$ancho: width;
img.img-responsive{
	@if ancho != 100%{
		width: 100%;
	}
}