@for $numColumn from 1 through 12 {
    .col-#{$numColumn}{
        width:anchoColumnas($numColumn);
    }
}


$clase: bloque__encabezado;

@each $titulo in $clase {
    [class="#{$titulo}"] {
        font-size: 3.5rem;
        font: $fuente; 
    }
}