* {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
.container {
    width:100%;
    max-width:1200px;
    margin: 0px auto;
}

.row {
    width: 100%;
}

.row {
    &:before{
        content: " ";
        display: table;
    }
    &:after {
        @extend .row:before;
        clear:both;
    }
}
[class*="col-"] {
    min-height: 7px;
    padding:12px;
    float:left;
}
