/*palette mixins*/
@mixin texto-palette ($size) {
	font-size: ($size);
	text-align: $texto-centrado;
	font-family:$fuente;
	color:$white;
}

/*palette mixins*/

// estilo del boton en area best price (Mireya)
@mixin boton ( $color-fondo, $color-borde) {
	padding: 7px 12px;
	border: 1px solid ;
  color: $white;
	background-color: $color-fondo;
  border-color: $color-borde;
  cursor: pointer;
}

@mixin tablas($color-borde, $margen-abajo ) {
	border: 2px solid $color-borde;
	padding: 0;
	margin-top: $margen-abajo;
}
@mixin celdas{
	list-style: none;
	padding: 5px 20px 5px 20px;
	text-align: center;
}
