@import 'variables';
@import 'grid';
@import 'directivas'; 
@import 'mixin'; 
@import 'funciones'; 

//COMIENZA SECCION GET IN TOUCH//

#seccionget__general {
    height: 100vh; 
    background-color: $blue-gray;
    position: relative;
}

#bloque__maintitle {
    position: absolute;
    color: white;
    text-align: center;
    font-family: $fuente;
}

//FINALIZA SECCION GET IN TOUCH//